/* @import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,200;0,400;1,200&display=swap'); */
@import '~font-awesome/css/font-awesome.css';

*{
  box-sizing: border-box;
}
body{
  margin: 0 auto;
  overflow-x:hidden; 
  font-family: 'Raleway', sans-serif;
}
/* ========== Первый экран ========== */
.bg_section{
  height: 100vh;
  background: url(../img/2mE9.gif) center no-repeat;
  background-size: 100%;
}
.bg_circle {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(213, 236, 9);
  clip-path: circle(50% at right);
}
.bg_circle_info{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(213, 236, 9);
  clip-path: circle(50% at left);
  z-index: 0;
}
.main_section{
  display: flex;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(149deg, rgb(203, 228, 146) 0%, rgb(243, 188, 236) 42%, rgb(216, 185, 127) 72%, rgb(141, 175, 226) 100%);
  animation: main_section 15s infinite linear; 
  background-size: 300%; 
  opacity: .89;
}
@keyframes main_section {
    0% {
        background-position: 80% 0%;
    }
    50% {
        background-position: 20% 100%;
    }
    100% {
        background-position: 80% 0%;
    }
}
/* ========== Боковая навигация ========== */
.main_nav{
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  position: fixed;
  background: rgba(115, 111, 111, 0.3);
  border-radius: 20px;
  border: 1px solid transparent;
  padding: 33px 30px; 
  z-index: 100;
  top: 50%;
  left: 0;
}
.item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;
}
.item:last-child{
  margin-bottom: 0;
}
.link{
  font-size: 23px;
  transition: .2s;
}
.link:hover{
    text-shadow: 0px 0px 5px rgba(255, 255, 255, 1), 
               0px 0px 10px rgba(255, 255, 255, 1), 
			   0px 0px 15px rgba(255, 255, 255, 1),
			   0px 0px 20px rgba(73, 255, 24, 1),
			   0px 0px 30px rgba(73, 255, 24, 1),
			   0px 0px 40px rgba(73, 255, 24, 1),
			   0px 0px 55px rgba(73, 255, 24, 1),
			   0px 0px 75px rgba(73, 255, 24, 1);
}
a{
  text-decoration: none;
  color:#000;
}
/* ========== Заголовок первого экрана ========== */
.main_content{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start; 
  margin-left: 200px;
}
.main_title, .main_text{
  max-width: 800px;
}
.main_title{
  display: flex;
  justify-content: center;
  align-items: center;
}
.title_content{
  margin-left: 20px;
  margin-bottom: 50px;
  margin-top: 45px;
  color: #333;
  font-size: 40px;
  line-height: 1.4em;
  font-weight: 500;
}
.title_content span{
  color: #fff;
  font-size: 38px;
  font-weight: 900;
}
.text_content{
  font-size: 30px;
  line-height: 45px;
}
.main_text{
  margin-bottom: 35px;
}
.link_chance{
  display: inline-block;
  margin-top: 20px;
  padding: 15px 30px;
  background: #fff;
  color: #000;
  border-radius: 40px;
  font-weight: 500;
  letter-spacing: 1px;
  text-decoration: none;
  font-size: 22px;
  transition: .3s linear;
}
.link_chance:hover{
  font-size: 23px;
  color: rgb(245, 218, 65);
}
/* ========== Изображение первого экрана ========== */
.main_image{
  display: flex;
  justify-content: center;
  align-items: center;
}
.main_image img{
  margin-top: 40px;
}
/* ========== Loader ========== */
.loader{
  display: flex;
  justify-content: center;
  align-items: center;
}
.circle{
  bottom: 30px;
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  animation: circle 3s linear infinite;
}
@keyframes circle {     
  0%{
    transform: rotate(0deg);
    box-shadow:1px 5px 2px  rgb(141, 175, 226);
  }
  50%{
    transform: rotate(180deg);
    box-shadow:1px 5px 2px rgb(243, 188, 236);
  }
  100%{
    transform: rotate(360deg);
    box-shadow:1px 5px 2px rgb(216, 185, 127);
  }
}
.circle:before{
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  box-shadow: 0 0 5px rgba(255,255,255, .3);
}
.arrow{
  position: absolute;
  bottom: 45px;
  font-size: 20px;
  transition: .3s linear;
}
.arrow:hover{
  color: #fff;
}

/* ========== Information ========== */
.info_section{
  position: relative;
}
.info_block{
  display: flex;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(149deg, rgb(203, 228, 146) 0%, rgb(243, 188, 236) 42%, rgb(216, 185, 127) 72%, rgb(141, 175, 226) 100%);
  background-size: 400%; 
  opacity: .89;
}
.info_content{
  margin-left: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.info_title, .info_text{
  max-width: 800px;
}
.info_title{
  display: flex;
  justify-content: center;
  align-items: center;
}
.title_content{
  margin-bottom: 50px;
  margin-top: 45px;
  color: #333;
  font-size: 40px;
  line-height: 1.4em;
  font-weight: 500;
}
.title_content span{
  color: #fff;
  font-size: 38px;
  font-weight: 900;
}
.text_content{
  font-size: 30px;
  line-height: 45px;
}
.left{
  text-align: left;
  line-height: 50px;
}
.ital{
  font-style: italic;
  margin: 20px 0;
  display: inline-block;
}
.info_image{
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1000px;
}
.info_image img{
  margin-top: 40px;
}


/* ========== Health system ========== */
.health_section{
  height: 100vh;
  position: relative;
  display: flex;
  background: rgb(164,247,249);
  background: linear-gradient(143deg, rgba(164,247,249,1) 0%, rgba(255,202,202,1) 48%, rgba(249,238,137,1) 100%);
}
.health_board_bg{
  width: 1400px;
  height: auto; 
  margin: 0 auto;
  padding: 20px 30px;
}
.health_board{
  border-radius: 20px;
  background: #fff;
  margin: 20px 0;
  padding: 60px;
  text-align: center; 
}
.health_categories{
  display: flex;
  justify-content: center;
  align-items: center;
}
.health_categorie{
  width: 450px;
  height: 100px;
  margin-right: 20px;
  border-radius: 17px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  transition: .3s;
}
.health_categorie:hover{
  transform: scale(.9);
}
.icon_categorie{
  margin-right: 15px;
}
.title_categorie{
text-align: center;
}
.title_categorie a{
  font-size: 23px;
  font-weight: 500;
  color: #000;
}
/* Main page */
.main_page{ 
  background: rgb(0,0,0);
background: linear-gradient(326deg, rgba(0,0,0,1) 0%, rgba(167,244,230,1) 0%, rgba(166,250,209,1) 100%);
}
.main_page:hover{
  box-shadow: 1px 5px 32px 3px rgba(138,243,232,1);
  -webkit-box-shadow: 1px 5px 32px 3px rgba(138,243,232,1);
  -moz-box-shadow: 1px 5px 32px 3px rgba(138,243,232,1);
}
/* Health page */
.health_page{
  background: linear-gradient(326deg, rgba(2,0,36,1) 0%, rgba(242,237,54,0.9360119047619048) 0%, rgba(187,232,167,1) 100%);}
.health_page:hover{
  box-shadow: 1px 5px 32px 5px rgba(233,248,113,1);
  -webkit-box-shadow: 1px 5px 32px 5px rgba(233,248,113,1);
  -moz-box-shadow: 1px 5px 32px 5px rgba(233,248,113,1);
}
/* Heart page */
.heart_page{
  background: rgb(2,0,36);
background: linear-gradient(326deg, rgba(2,0,36,1) 0%, rgba(242,142,142,0.9360119047619048) 0%, rgba(250,124,124,1) 100%);
}
.heart_page:hover{
  box-shadow: 1px 5px 32px 3px rgba(233,160,118,1);
-webkit-box-shadow: 1px 5px 32px 3px rgba(233,160,118,1);
-moz-box-shadow: 1px 5px 32px 3px rgba(233,160,118,1);
}
/* Water page */
.water_page{
  background: rgb(2,0,36);
  background: linear-gradient(326deg, rgba(2,0,36,1) 0%, rgba(78,187,232,0.9360119047619048) 0%, rgba(131,172,210,1) 100%);
}
.water_page:hover{
  box-shadow: 1px 5px 32px 5px rgba(146,204,230,1);
  -webkit-box-shadow: 1px 5px 32px 5px rgba(146,204,230,1);
  -moz-box-shadow: 1px 5px 32px 5px rgba(146,204,230,1);
}
/* Feel page */
.feel_page{
  background: rgb(2,0,36);
background: linear-gradient(326deg, rgba(2,0,36,1) 0%, rgba(250,166,214,0.9360119047619048) 0%, rgba(244,167,236,1) 100%);
}
.feel_page:hover{
  box-shadow: 1px 5px 32px 3px rgba(243,138,213,1);
-webkit-box-shadow: 1px 5px 32px 3px rgba(243,138,213,1);
-moz-box-shadow: 1px 5px 32px 3px rgba(243,138,213,1);
}
/* ========== Показатели человека + календарь + заметки ========== */
.health_current_title{
  font-size: 25px;
  font-weight: 600;
  margin-top: 20px;
  margin-left: 20px;
  margin-bottom: 20px;
  text-align: left;
}
.health_current_info{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  height: auto;
}
.health_person{
  width: 60%;
  margin-right: 20px;
}
.health_current_person{
  height: 500px;
  width: 100%;
}
.health_info{
  width: 40%;
  height: auto;
  background: grey; 
}
/* ========== Диаграммы ========== */
.health_diagrams{
    display: flex;
  justify-content: center;
  align-items: center;
   margin-top: 30px;
}
.health_title{
  font-size: 24px;
  text-align: left;
  margin-top: 20px;
  margin-left: 20px;
  font-weight: 500; 
}
.health_diagram{
  position: relative;
  width: 500px;
  height: 300px;
  margin-right: 20px;
  border-radius: 25px;
  background: GREY;
} 
.health_heart_diagram{
  background: rgb(0,0,0);
  background: linear-gradient(143deg, rgba(0,0,0,1) 0%, rgba(250,171,132,1) 0%, rgba(249,137,141,1) 100%);
}
.health_water_diagram{
  background: linear-gradient(326deg, rgba(0,0,0,1) 0%, rgba(167,244,216,1) 0%, rgba(166,224,250,1) 100%);
}
.water{
  width: 100%;
  height: 70%;
}
.active_diagram{
  width: 100%;
  height: 90%;
}
.health_active_diagram{
  background: linear-gradient(143deg, rgba(0,0,0,1) 0%, rgba(164,247,249,1) 0%, rgba(249,238,137,1) 100%);
}
.health_feel_diagram{
  background: rgb(0,0,0);
background: linear-gradient(143deg, rgba(0,0,0,1) 0%, rgba(236,215,251,1) 0%, rgba(247,180,221,1) 100%);
}
.feel_diagram{
  margin-top: 10px;
  width: 100%;
  height: 80%;
}
.health_dinamic_diagram{
  background: rgb(0,0,0);
  background: linear-gradient(143deg, rgba(0,0,0,1) 0%, rgba(250,225,132,1) 0%, rgba(241,249,137,1) 100%);
}
.dinamic_diagram{
  width: 100%;
  height: 90%;
}
.health_micro_diagram{
  background: rgb(0,0,0);
  background: linear-gradient(143deg, rgba(0,0,0,1) 0%, rgba(213,164,249,1) 0%, rgba(231,249,137,1) 100%);
}
.micro_diagram{
  width: 100%;
  height: 80%;
}